################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/PokeMMO-Bot/FileContentIndex/239640c9-7f92-450e-809b-2cce39808a4a.vsidx
/.vs/PokeMMO-Bot/FileContentIndex/0b902788-7db0-4129-aac8-ce28be8985e1.vsidx
/.vs/PokeMMO-Bot/FileContentIndex/48a81521-2476-45c4-a71b-78c8ae7d4221.vsidx
/.vs/PokeMMO-Bot/FileContentIndex/66184485-0e98-4435-9751-5afa31c45b25.vsidx
/.vs/PokeMMO-Bot/FileContentIndex/9c5080d9-3ef0-4508-b192-2c9a680acf50.vsidx
